@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me!";

}


<!--Header-->
<h1>Angelina Walton</h1><br />

<!--image-->
<img src="img/MeDoingSomething.jpg" />
<br />
<!--paragraph of what I hope to gain from 413-->
<p>What I hope to gain from IS 413: I want to gain a good understanding of C#. While it is important to learn more about this langauge I think even more importantly, learning C# will aid me in my ability to continue learning other programming languages. I also want to gain a better understanding of Object Oriented Programming.</p>
<br />
<h4>Top 3 Jobs after Graduation:</h4>

<!--unordered list-->
<ul>
    <li>Data Analyist</li>
    <li>Web Design</li>
    <li>Consulting</li>
</ul>

